@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg {
    background: url('https://lh3.googleusercontent.com/jmT0xkVAjcq5ahzY1l9VFNsKAomWnA8OE6exRbJEECntFUWeNUnKpAqZH-xiRjaMipWW1TwaxcdgJyaQ9V4VdX0pSpOf7fgSVYg9Qw28LXgMqsHIgf-n7ZHk7SfLg59kNoZ1BAViGY2AnkDvPONZE5CrNCiPrwZTQmagEJxzElx1yYyH8fSJ6NfbNEyxmum2tm7dctLzL-ly6C1Ddl-aLSFPMUJ4kEHNTepmn19X3BpmBIxaHZ0mWRF812uIafy4WRVaVRk_BNFn4vZYQYssRy_mL5ypDZwfmzgnU06pkvlsmuY67yrA2k0JgQen6JC7NeaSH62odKmuZh2RZwr8AqQ9qR1s5XBp5KzeiYd12b9Gkevyfd0G6MjtUehn8GTpTHxmQlRM59ZYHaBFYeeW6LNTMGaMk2T3YTrp4D18FD3mHDm8EPLmtjHxbgys0xBpuHodXq9qqbBf7qqnexfh-8DXNr61uhkufNsCfjYwkoPxHvCv4WGhgzWjU5Rx5N7u7hPhXNxYhbIdQlQb1SqR13R3S-p0FcHD-z0OfCwzlIxCqQKnAY5kBuT7ZjNsEKY--4Hp8SYhKBuXPH7SL2lOXnXTSbg0LGB0eLD4bZ0b7O0exr6okf1QuGV0OvrfXXzGnlSTgBATXAZhjCEd9_UvhnMDD0GYpWfsbE84qKOAcWmdQImnRUxux4X2W4MxWS3tNlnwV9mhVuXlfLYkm4VHumoq8Mro97dcTg5_OG4frlmXcohAhtdwFH2GJhkb0oY=w703-h933-no?authuser=0') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}